#page-wrapper, #main-wrapper {
    background-color: #fff;
}

#main-content {
    min-height: 70vh;
}

th.ui-state-default {
    text-align: center;
    padding-top: 10px;
}

#table-content tr td {
    text-align: center;
}

#table-content input {
    margin: 0.5em 0;
    width: 90%;
    color: #2e2e2e;
    text-align: right; 
    max-width: 120px;
}

#table-content td span {
    color: #616161;
}

tr.even {
    background-color: #F5F5F5 !important;
}

tr.odd {
    background-color: #e6e5e5 !important;
}

#table-content tr td:first-child {
    border-left: 1px solid #c5dbec !important;
}

#table-content tr td:last-child {
    border-right: 1px solid #c5dbec !important;
}

#table-content tr:last-child td {
    border-bottom: 1px solid #c5dbec !important;
}

.table-content {
    min-width: 800px;
    max-width: 1000px;
    flex-grow: 1;
}

#tabelaDefault_wrapper {
    display: flex;
    margin-bottom: 100px;
}

#grafico {
    flex: 1;
    max-width: 1000px;
}
